table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: left;
}
.table {
  width: 100%;
}
.container {
  padding: 40px;
}
#total {
  text-align: right;
}

#table {
  border-collapse: separate;
}
.backButton {
  display: table !important;
}
